<br/>
<div class="container">
<h4 class="text-danger"><b><i>If you don't want update any field, don't change it</i></b></h4>
<br/>
<div class="jumbotron">
<%= form_with modal: @product, url: product_path(@product.id), method: :patch do |f| %>
  <div class="form-group">
    <%= f.label :Product_title, class: "text-secondary"%>
    <%= f.text_field "title" , class: "form-control", value: @product.title%>
  </div>
  <div class="row">
    <%counter=1%>
    <%@product.variants.each do |variant|%>
      <br/>
      <div class="col-md-12">
      <%= f.label "Variant #{counter}"%>
      <% counter+=1%>
      </div>
      <div class="col-md-4">
      <%= f.label :Size, class: "text-secondary"%>
      <%= f.text_field  "#{variant.id}_size", class: "form-control", placeholder: "Enter new price", value: variant.option1%>
      </div>
      <div class="col-md-4">
      <%= f.label :Color, class: "text-secondary"%>
      <%= f.text_field  "#{variant.id}_color", class: "form-control", placeholder: "Enter new price", value: variant.option2%>
      </div>
      <div class="col-md-4">
      <%= f.label :Price, class: "text-secondary"%>
      <%= f.text_field  "#{variant.id}_price", class: "form-control", placeholder: "Enter new price", value: variant.price%>
      <br/>
      </div>
    <%end%>
  </div>
  <%= f.submit "Change Product Details", class: "btn-primary"%>
  <br/><br/>
<% end %>
</div>
<div class="container">
